@import url("./stylesheets/Banner.css");
@import url("./stylesheets/Contact.css");
@import url("./stylesheets/Employment.css");
@import url("./stylesheets/Volunteering.css");
@import url("./stylesheets/Education.css");

body
{
    background-color: black;
    font-family: monospace, monospace;
    overflow-x: hidden;
}

.container
{
    color: #FF9E00;
    margin-bottom: 7vh;
}

.section
{
    display: flex;
    display: -webkit-flexbox;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.section_container
{
    width: 800px;
    margin-bottom: 10vh;
}

.setion_title
{
    color: #8338ec;
    margin-left: 5vw;
    margin-top: 5vh;
    font-size: 2vh;
}

.section_value
{
    color: white;
    margin-left: 6.5vw;
    margin-top: 2.5vh;
    font-size: 2vh;
    text-align: left;
}

.section_sub_value
{
    margin-left: 6.5vw;
    margin-bottom: 5vh;
    font-size: 2vh;
    text-align: left;
    background-color: #8338ec;
    color:black;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.entry_list
{
    border: 0.5vh dashed #FF9E00;
    margin-top: 1vh;
}

.entry
{
    margin-top: 2vh;
    padding: 5%;
    font-size: 2vh;
}

.label
{
    background-color: #FF9E00;
    color: black;
}

a.url:link
{
    color: #FF9E00;
}

a.url:visited
{
    color:  #FF9E00;
}

a.url:hover
{
    color:  #FF9E00;
}

a.url:active
{
    color:  #FF9E00;
}

.radioButton
{
    color: white;
    border: 0.25vh solid #8338ec;
    width: 6vh;
    height: 1.8vh;
    text-align: center;
    -webkit-user-select: none;
    font-size: 1.8vh;
}

.radioButtonClicked
{
    color: black;
    border: 0.25vh solid #8338ec;
    background-color: #8338ec;
    width: 6vh;
    height: 1.8vh;
    text-align: center;
    -webkit-user-select: none;
    font-size: 1.8vh;
}



