#banner
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#title
{
    overflow: hidden;
    font-size: 10px;
}

#subtitle
{
    text-align: left;
    font-size: 2.5vh;
    width: 36vh;
    color: var(--secondary-color);
}

.typewriter
{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .25em solid var(--secondary-color); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation:
      typing 3.5s steps(25, end),
      blink-caret .85s infinite,
      erasing 2s steps(25, end) 7s forwards;
}

@keyframes typing
{
    from { width: 0% }
    to { width: 36vh }
}

@keyframes blink-caret
{
    from, to { border-color: transparent; }
    50% { border-color: var(--secondary-color); }
}

@keyframes erasing
{
    from { width: 36vh }
    to { width: 0% }
}
